<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuublog.mapper.ContentMapper" >
  <resultMap id="BaseResultMap" type="com.yuublog.pojo.Content" >
    <id column="art_id" property="artId" jdbcType="INTEGER" />
    <result column="create" property="create" jdbcType="TIMESTAMP" />
    <result column="update" property="update" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yuublog.pojo.Content" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    art_id, create, update
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yuublog.pojo.ContentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yuublog.pojo.ContentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from content
    where art_id = #{artId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from content
    where art_id = #{artId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yuublog.pojo.ContentExample" >
    delete from content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yuublog.pojo.Content" >
    insert into content (art_id, create, update, 
      content)
    values (#{artId,jdbcType=INTEGER}, #{create,jdbcType=TIMESTAMP}, #{update,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuublog.pojo.Content" >
    insert into content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="artId != null" >
        art_id,
      </if>
      <if test="create != null" >
        create,
      </if>
      <if test="update != null" >
        update,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="artId != null" >
        #{artId,jdbcType=INTEGER},
      </if>
      <if test="create != null" >
        #{create,jdbcType=TIMESTAMP},
      </if>
      <if test="update != null" >
        #{update,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yuublog.pojo.ContentExample" resultType="java.lang.Integer" >
    select count(*) from content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update content
    <set >
      <if test="record.artId != null" >
        art_id = #{record.artId,jdbcType=INTEGER},
      </if>
      <if test="record.create != null" >
        create = #{record.create,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update != null" >
        update = #{record.update,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update content
    set art_id = #{record.artId,jdbcType=INTEGER},
      create = #{record.create,jdbcType=TIMESTAMP},
      update = #{record.update,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update content
    set art_id = #{record.artId,jdbcType=INTEGER},
      create = #{record.create,jdbcType=TIMESTAMP},
      update = #{record.update,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuublog.pojo.Content" >
    update content
    <set >
      <if test="create != null" >
        create = #{create,jdbcType=TIMESTAMP},
      </if>
      <if test="update != null" >
        update = #{update,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where art_id = #{artId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yuublog.pojo.Content" >
    update content
    set create = #{create,jdbcType=TIMESTAMP},
      update = #{update,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where art_id = #{artId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuublog.pojo.Content" >
    update content
    set create = #{create,jdbcType=TIMESTAMP},
      update = #{update,jdbcType=TIMESTAMP}
    where art_id = #{artId,jdbcType=INTEGER}
  </update>
</mapper>