<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuublog.mapper.VisitorMapper" >
  <resultMap id="BaseResultMap" type="com.yuublog.pojo.Visitor" >
    <id column="visit_id" property="visitId" jdbcType="INTEGER" />
    <result column="ipaddress" property="ipaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    visit_id, ipaddress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yuublog.pojo.VisitorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from visitor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from visitor
    where visit_id = #{visitId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from visitor
    where visit_id = #{visitId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yuublog.pojo.VisitorExample" >
    delete from visitor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yuublog.pojo.Visitor" >
    insert into visitor (visit_id, ipaddress)
    values (#{visitId,jdbcType=INTEGER}, #{ipaddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuublog.pojo.Visitor" >
    insert into visitor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="visitId != null" >
        visit_id,
      </if>
      <if test="ipaddress != null" >
        ipaddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="visitId != null" >
        #{visitId,jdbcType=INTEGER},
      </if>
      <if test="ipaddress != null" >
        #{ipaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yuublog.pojo.VisitorExample" resultType="java.lang.Integer" >
    select count(*) from visitor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update visitor
    <set >
      <if test="record.visitId != null" >
        visit_id = #{record.visitId,jdbcType=INTEGER},
      </if>
      <if test="record.ipaddress != null" >
        ipaddress = #{record.ipaddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update visitor
    set visit_id = #{record.visitId,jdbcType=INTEGER},
      ipaddress = #{record.ipaddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuublog.pojo.Visitor" >
    update visitor
    <set >
      <if test="ipaddress != null" >
        ipaddress = #{ipaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where visit_id = #{visitId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuublog.pojo.Visitor" >
    update visitor
    set ipaddress = #{ipaddress,jdbcType=VARCHAR}
    where visit_id = #{visitId,jdbcType=INTEGER}
  </update>
</mapper>